.ineer{
   display: flex;
    width: 100;
   
}
.contaneer{
    width: 33.33%;
    background-color: aquamarine;
    border: 20px  aquamarine;
    height: 2rem;
}

.child{
    width: 80%;
    margin: auto;
    height: 60%;
    background-color: rgb(249, 251, 246);
    border: 5px  rgb(249, 251, 246);
}
img{
    width: 100%;
}


